.about{
    margin: 0 100px;
    margin-top: 25px;
}
.about .profile{
    display: flex;
}
.about .profile.michelle{
    display: flex;
    flex-direction: row-reverse;
    margin: 50px 0;
}
.about .profile .image-container{
    width: 50%;
}
.about .profile.michelle .text-container{
    padding-right: 50px;
}
.about .profile .text-container{
    width: 50%;
}
.about .profile .text-container .content{
    margin-top: 40px;
    
}
