.about{
    margin: 0 100px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
}
.theme .about .profile{
    display: flex;
    color: #000000;
    transition: all 0.25s ease-in;
}
.theme.dark .about .profile{
    color: #FAF9F6;
    transition: all 0.25s ease-in;
}
.about .profile.michelle{
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0;
}
.about .profile .image-container{
    width: 50%;
}
.about .profile .image-container img{
    object-fit: cover;
}
.about .profile.michelle .text-container{
    padding-right: 50px;
}
.about .profile .text-container{
    width: 50%;
}
.about .profile .text-container .content{
    margin-top: 40px;
    
}
.about .profile.eric .image-container img{
    object-position: 10% 40%;
}
@media(max-width: 1500px){
    .about{
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 60px;
    }
    .about .profile .image-container{
        margin-right: 50px;
    }
    .about .profile.michelle{
        margin: 50px 0;
    }   
    .about .profile.michelle .image-container{
        margin-right: 0;
        margin-left: 50px;
    }
    .about .profile.michelle .text-container{
        padding: 0;
    }
    .about .profile .image-container img{
        width: 100%;
        height: 550px;
    }
}
@media(max-width: 1200px){
    .about{
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 100px;
        margin-top: 0;
    }
}
@media(max-width: 500px){

    .about .profile{
        display: block!important;
    }
    .about .profile .image-container{
        margin: 0!important;
        width: 100%;
    }
    .about .profile .text-container{
        margin: 0;
        width: 100%;
    }
    .about .profile .text-container .content{
        margin-top: 20px;
        
    }
}