.start{
    position:absolute;
    z-index: 2;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.components{
    /* position: relative; */
    z-index: 1;
    overflow: hidden;
}
html:has(> .theme.dark),body:has(> .theme.dark),#__next:has(> .theme.dark){
    background-color: #121212!important;
    transition: 0.25s background-color ease-in;
}