.carousels{
    margin: 0 -100px;
}
.carousel{
    overflow: hidden;
    /* margin: auto; */
    height: 400px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.carousel::before, .carousel::after{
    content: "";
    height: 450px;
    position: absolute;
    width: 200px;
    z-index: 2;
    background: linear-gradient(to right,  #FAF9F6 0%,rgba(255,255,255,0) 50%);
}
.carousel::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.carousel::before{
    left: 0;
	top: 0;
}
.carousel .gallery{
    /* white-space:nowrap; */
    /* display: flex;
    overflow-x: auto;
    justify-content: center;
    scroll-behavior: smooth; 
    overflow-y: visible; */
    /* margin-top: 25px; */
    /* animation: scroll 40s linear infinite; */
    display: flex;
}
.carousel .gallery:hover{
    animation-play-state: paused;
}
.carousel .gallery .image-container{
    margin: 0 25px;
}
.carousel .gallery::-webkit-scrollbar {
    height: 0;
    width: 0;
}
/* .carousel .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
} */
.carousel .gallery .slick-slider .slick-list .slick-track .slick-slide:not(.slick-active) img{
    /* scale: .5;
    transition: all .3s ease-in; */
    /* transition-delay: 0.15s; */
}
/* .carousel .gallery .slick-slider .slick-list .slick-track .slick-slide:not(.slick-active){
    opacity: 0;
    transition: all 0.3s ease-in;
} */
.carousel .gallery .slick-slider .slick-list .slick-track .slick-active{
    /* opacity: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.3s; */
}
.carousel .gallery .slick-slider .slick-list .slick-track .slick-active img{
    /* scale: .75;
    transition: all 0.3s ease-in;
    transition-delay: 0.3s; */
}
.carousel .gallery .slick-slider .slick-list .slick-track .slick-active.slick-current img{
    /* scale: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.3s; */
}
/* .carousel .gallery .image-container{
    display: flex!important;
    justify-content: center;
    margin: 0 50px;
} */
.carousel .gallery .image-container img{
    object-fit: cover;
    transition: 0.25s all ease-in;
    /* box-shadow: 12px 12px 5px 1px #00000010; */
}
.carousel .gallery .image-container img:hover{
    transform: scale(1.15);
    transition: 0.25s all ease-in;
}
/* .carousel .gallery img{
    object-fit: cover;
    
    scale: 1;
    transition: all 0.3s ease-in;
    position: absolute; 
    top: 0;
    
}
.carousel .gallery img:hover{
    scale: 1.2;
    transition: all 0.5s ease;
} */

@media(min-width : 1450px){
    .carousel .gallery .slick-slider .slick-list .slick-track .slick-slide img{
        width: 400px;
        height: 500px;
    }
}