.contact{
    display: flex;
    margin: 0 100px;
    margin-top: 25px;
    justify-content: space-between;
}
.contact .left{
    width: 65%;
}
.contact .left h2{
    font-family: 'Switzer ExtraLight';
    padding-right: 75px;
}
.contact .left .form-container{
    margin-top: 100px;
}
.contact .left .form-container .text-input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #faf9f6;
    font-family: 'Switzer Light';
    font-size: 30px;
    color: #000000;
    display: block;
    margin: 25px 0;
}
.contact .left .form-container .text-input:focus{
    outline: none;
}
.contact .left .form-container .submit-button{
    font-family: 'Switzer Light';
    font-size: 30px;
    background-color: #000000;
    color: #faf9f6;
    border: none; 
    outline: none;
    border-radius: 15px;
    padding: 12px;
    margin-top: 30px;
}
.contact .right{
    width: 35%;
}
/* Description part of calendly */
.contact .right .calender-cover{
    position: relative;
    background-color: black;
}
.contact .right .calender-cover img{
    /* background-image: url('/public/images/opening/opening-04.jpg'); */
    object-fit: cover;
    margin-bottom: -5px;
    width: 100%;
}
.contact .right .calender-cover h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #faf9f6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.contact .right .calendly-inline-widget{
    width: 100%;

}
@media(max-width: 1500px){
    .contact .left{
        width: 60%;
    }
    .contact .left .form-container{
        margin-top: 50px;
    }
    .contact .right{
        width: 40%;
    }
}
@media(max-width: 500px){
    .contact{
        margin-left: 25px;
        margin-right: 25px;
        flex-wrap: wrap;
        position: relative;
        padding-top: 60px;
        margin-top: 0;
    }
    .contact .left, .contact .right{
        width: 100%;
        /* order: 2; */
        margin-top: 15px;
    }
    .contact .left h2{
        padding-right: 0px;
        /* position: absolute;
        top: 0; */
    }
    /* .contact .left .form-container{
        margin-top: -75px;
    } */
    .contact .left .form-container .text-input{
        width: 100%;
    }
    .contact .left .form-container .submit-button{
        width: 100%;
        margin-top: 0px;
    }
    .contact .right{
        /* order: 1; */
        margin-top: 75px;
        margin-bottom: -50px;
        position: relative;
        z-index:0;
    }
}