.contact{
    display: flex;
    margin: 0 100px;
    margin-top: 25px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.contact .left{
    width: 100%;
}
.contact .left .title{
    font-size: 35px;
}
.contact .left .subtitle{
    font-family: 'Switzer ExtraLight';
    padding-right: 75px;
    font-size: 25px;
}
.contact .left .form-container{
    margin-top: 50px;
    display: flex;
    padding: 25px 50px;
    border: 2px solid #000000;
    box-shadow: 10px 10px 0px #000000;
    position: relative;
}
.contact .left .form-container .inputs{
    width: 50%;
}
.contact .left .form-container .text-input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #faf9f6;
    font-family: 'Switzer Light';
    font-size: 30px;
    color: #000000;
    display: block;
    margin: 25px 0;
    width: 100%;
}
.contact .left .form-container .text-input:focus{
    outline: none;
}
.contact .left .form-container .form-pic-container{
    width: 50%;
}
.contact .left .form-container .form-pic-container .form-pic{
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 10%;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.contact .left .form-container .submit-button{
    font-family: 'Switzer Light';
    font-size: 30px;
    background-color: #000000;
    color: #faf9f6;
    border: none; 
    outline: none;
    border-radius: 15px;
    padding: 12px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 30%;
}
.contact .left .form-container .calendar-header{
    margin-bottom: 10px;
}
.contact .left .form-container .rmdp-shadow{
    box-shadow: none;
    border: 2px solid #000000;
}
.contact .left .form-container .rmdp-wrapper{
    border-radius: 0;
    background-color: #faf9f6;
}
.contact .left .form-container .rmdp-wrapper .rmdp-arrow{
    border: solid #000000;
    border-width: 0 2px 2px 0;
}
.contact .left .form-container .rmdp-wrapper .rmdp-week-day{
    color: #000000;
}
.contact .left .form-container .rmdp-wrapper .rmdp-day.rmdp-selected span:not(.highlight){
    background-color: #000000;
}
.contact .left .form-container .rmdp-wrapper .rmdp-day.rmdp-today span{
    background-color: #878787;
}
.contact .left .form-container .rmdp-wrapper .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover{
    background-color: #878787;
}
.contact .left .form-container .rmdp-wrapper .rmdp-panel-body li{
    background-color: #000000;
}
@media(max-width: 1500px){
    .contact .left .form-container .form-pic-container .form-pic{
        object-position: 40% 10%;
    }
}
@media(max-width: 500px){
    .contact{
        margin-left: 25px;
        margin-right: 25px;
        flex-wrap: wrap;
        position: relative;
        padding-top: 60px;
        margin-top: 0;
    }
    .contact .left{
        width: 100%;
        /* order: 2; */
        margin-top: 15px;
    }
    .contact .left h2{
        padding-right: 0px;
        /* position: absolute;
        top: 0; */
    }
    .contact .left .form-container{
        padding: 25px 8px;
    }
    .contact .left .form-container .text-input{
        width: 100%;
    }
    .contact .left .form-container .submit-button{
        width: 100%;
        margin-top: 0px;
    }
    .contact .left .form-container .form-pic-container{
        display: none;
    }
}