.contact{
    display: flex;
}
.contact .left h2{
    font-family: 'Switzer ExtraLight';
    padding-right: 75px;
}
.contact .left .form-container{
    margin-top: 100px;
}
.contact .left .form-container .text-input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #faf9f6;
    font-family: 'Switzer Light';
    font-size: 30px;
    color: #000000;
    display: block;
    margin: 25px 0;
}
.contact .left .form-container .text-input:focus{
    outline: none;
}
.contact .left .form-container .submit-button{
    font-family: 'Switzer Light';
    font-size: 30px;
    background-color: #000000;
    color: #faf9f6;
    border: none; 
    outline: none;
    border-radius: 15px;
    padding: 12px;
    margin-top: 30px;
}

/* Description part of calendly */
.contact .right .calender-cover{
    position: relative;
    background-color: black;
}
.contact .right .calender-cover img{
    /* background-image: url('/public/images/opening/opening-04.jpg'); */
    object-fit: cover;
    margin-bottom: -5px;
}
.contact .right .calender-cover h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #faf9f6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.contact .right .calendly-inline-widget{
    width: 500px;

}