/* @font-face {
  font-family: 'Switzer Light';
  src: url('/fonts/SWITZER-LIGHT.OTF') format('OTF');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Switzer ExtraLight';
  src: url('/fonts/SWITZER-EXTRALIGHT.OTF') format('OTF');
  font-style: normal;
  font-weight: 500;
} */
@font-face {
  font-family: 'Switzer ExtraLight';
  src: url('//cdn.fontshare.com/wf/JXG72O2TZZZ5GVUMRFHCQDLSBYPRIWXQ/ZP6MERMWLACGBGZHTVL3PGEM4LJZTZ57/O2INHB7RBA62NQZWIAP3RS5WRI4PR4T5.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/JXG72O2TZZZ5GVUMRFHCQDLSBYPRIWXQ/ZP6MERMWLACGBGZHTVL3PGEM4LJZTZ57/O2INHB7RBA62NQZWIAP3RS5WRI4PR4T5.woff') format('woff'),
       url('//cdn.fontshare.com/wf/JXG72O2TZZZ5GVUMRFHCQDLSBYPRIWXQ/ZP6MERMWLACGBGZHTVL3PGEM4LJZTZ57/O2INHB7RBA62NQZWIAP3RS5WRI4PR4T5.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer Light';
  src: url('//cdn.fontshare.com/wf/EW5HJEX6O4L64XUWQA2XU7Q6BZ3B4JA4/ZWUP4SQYHHMMSS5LFHFFBX6DXL7C3DTU/H5EOHLIZH5K7IZK6SGYJI75L4KV6FUO7.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/EW5HJEX6O4L64XUWQA2XU7Q6BZ3B4JA4/ZWUP4SQYHHMMSS5LFHFFBX6DXL7C3DTU/H5EOHLIZH5K7IZK6SGYJI75L4KV6FUO7.woff') format('woff'),
       url('//cdn.fontshare.com/wf/EW5HJEX6O4L64XUWQA2XU7Q6BZ3B4JA4/ZWUP4SQYHHMMSS5LFHFFBX6DXL7C3DTU/H5EOHLIZH5K7IZK6SGYJI75L4KV6FUO7.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Switzer Light';
}
html,
body, #__next {
  max-width: 100vw;
  /* overflow-x: hidden; */
  height: auto;
  background-color: #FAF9F6!important;
  font-family: 'Switzer Light';
  color: #000000;
  /* margin: 0 50px; */
  /* overflow: hidden; */
  position: relative;
  transition: background-color 0.25s ease-in;
}
html:has(.theme.dark)
{
  background-color: #121212!important;
}
@media(max-width: 1200px){
  #__next{
    overflow-x: unset;
  }
}
@media(min-width: 500px){
  ::-webkit-scrollbar {
    width: 0.75em;
    left: 5px;
    
  }
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 15px;
  }
}

h2{
  font-size: 30px;
  font-weight: normal;
}
span{
  font-size: 20px;
  font-family: 'Switzer ExtraLight'; 
}
::placeholder{
  color: #000000;
}
a {
  color: inherit;
  text-decoration: none;
}
@media(max-width: 500px){

}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
