.navBar{
    margin: 35px 0 20px;
}

.navBar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
/* .navBar ul li{
    padding: 0 25px;
} */

.navBar ul li h2.active{
    text-decoration: underline;
}