.starting-screen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.starting-screen:hover{
    cursor: pointer;
}
.starting-screen.clicked{
    opacity: 0; 
    transition: opacity 2s ease-in;
}
.starting-screen .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.starting-screen .covers-container{
    position:relative;

}
.starting-screen .covers-container .color-filter{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: #646464;
    opacity: 0.2;
}
.starting-screen .covers-container video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.starting-screen .covers-container .cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media(max-width: 500px) {
    .starting-screen{
        height: 100svh;
    }
    .starting-screen .covers-container .cover{
        height: 100svh;
        object-position: 60% 50%;
    }
}
