.works{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #64646461;
    display: none;
}
.works.active{
    display: unset;
}
.works .modal{
    width: 425px;
    height: 675px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.works .modal .work-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    top: 10px;
    
}
.works .modal .work-container img{
    object-fit: cover;
    border-radius: 5px;
}
.works .modal .work-container.active{
    opacity: 1;
}
.works .modal .close{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -9px;
    left: -6px;
    z-index: 2;
}
.works .modal .close:hover{
    cursor: pointer;
}
.works .modal .buttons{
    bottom: 5px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.works .modal .buttons img{
    margin: 0 15px;
}
.works .modal .buttons img:hover{
    cursor: pointer;
}
.works .modal .buttons .prev{
    transform: rotate(180deg);
}
@media(max-width: 1500px){
    .work{
        /* margin: 0 25px;
        padding-top: 60px; */
    }   
    .works .modal{
        width: 425px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .works .modal .work-container img{
        object-fit: cover;
        border-radius: 5px;
        height: 450px;
        width: 300px;
    }
    .works .modal .close{
        width: 30px;
        height: 30px;
        top: -5px;
        left: 50px;
    }
    .works .modal .buttons{
        bottom: -10px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
    .works .modal .buttons img{
        width: 35px;
        height: 35px;
    }
}